*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-blue: #1f2937;
    --white: #f9faf8;
    --light-blue: #3882f6;
    --gray: #e5e7eb;

    --font-weight-normal: 400;
    --font-weight-light: 300;
    --font-weight-black: 900;
}

html {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0 15%;
}

.nav {
    height: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.img-placeholder {
    width: 50%;
    height: 200px;
    background-color: var(--gray);

    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
}

.flex-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    width: 80%;
    margin: auto;
}

.column {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    aspect-ratio: 1/1;
    border: 3px solid var(--light-blue);
    border-radius: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}